* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	margin: 0 auto;
	background-color: ghostwhite;
	width: 90%;
}

h1 {
	padding: 15px;
	text-align: center;
	border-bottom: solid black 1px;
}

.flags {
	width: 100%;
	text-align: center;
}

.flags h2 {
	text-align: center;
}

.flag {
	width: 580px;
	height: 380px;
	position: relative;
	margin: 0 auto;
}

.france-left {
	position: absolute;
	background-color: blue;
	width: 33.33%;
	height: 100%;
	left: 0;
}
.france-middle {
	position: absolute;
	left: 194px;
	background-color: white;
	width: 33%;
	height: 100%;
}
.france-right {
	position: absolute;
	background-color: red;
	width: 33.33%;
	height: 100%;
	right: 0px;
}

.germany-top {
	display: inline-block;
	margin: -4px;
	background-color: black;
	width: 100%;
	height: 33.33%;
}
.germany-middle {
	margin: -4px;

	display: inline-block;
	background-color: red;
	width: 100%;
	height: 33.33%;
}
.germany-bottom {
	padding: 0;
	display: inline-block;
	background-color: yellow;
	width: 100%;
	height: 33%;
	bottom: 240px;
}

.madagascar-left {
	display: block;
	background-color: white;
	width: 10%;
	height: 100%;
}
.madagascar-right-top {
	display: block;
	background-color: tomato;
	width: 66%;
	height: 50%;
}
.madagascar-right-bottom {
	display: block;
	background-color: green;
	width: 66%;
	height: 50%;
}
